<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NewBinding0" />
            </basicHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="" name="PayloadService.PayloadService">
                <endpoint address="PayloadService" binding="netTcpBinding" bindingConfiguration=""
                    contract="PayloadService.IPayloadService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:9000" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>

<!--<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="NewBinding0" />
			</basicHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="mexBehavior" name="PayloadService.PayloadService">
				<endpoint address="PayloadService" binding="netTcpBinding" bindingConfiguration=""
                    contract="PayloadService.IPayloadService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8081" />
						<add baseAddress="net.tcp://localhost:9000" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>-->