<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IReportService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPayloadService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/ReportService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IReportService" contract="ReportService.IReportService"
                name="NetTcpBinding_IReportService">
                <identity>
                    <userPrincipalName value="DESKTOP-P7GU466\44266" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9000/PayloadService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPayloadService" contract="PayloadService.IPayloadService"
                name="NetTcpBinding_IPayloadService">
                <identity>
                    <userPrincipalName value="DESKTOP-P7GU466\44266" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>